body {
    background: url(../images/bg-desktop.svg);
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
}

.tela {
    max-width: 1440px;
}

.logo {
    margin: 60px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 70px;
    color: white;
    gap: 70px;
}


.container h1 {
    font-size: 45px;
}

.container p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    
}

.register {
    padding: 13px 55px;
    border-radius: 35px;
    background-color: white;
    color: hsl(257, 40%, 49%);
    box-shadow: 10px;
    transition: 0.3s;
    font-size: 20px;
}

.register:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.social {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 90px;
}

.social i {
    /* margin: 15px;
    font-size: 50px;
    color: white;
    align-self: flex-start;
    transition: 0.3s; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: #fff solid 1px;
    border-radius: 50%;
    transition: 0.3s;
    margin: 8px;
  }

.social i:hover {
    color: hsl(300, 69%, 71%);
}